* {
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #ff5b2e;
    --primary-font: "Poppins", sans-serif;
    --heading-font: "Sora", sans-serif;
    --heading-color: #000958;
    --desc-color: #656689;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    height: 1000000px;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ========== Common ========== */
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% 48px);
}

a {
    text-decoration: none;
}

.section-heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.section-heading--lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.55; /* 115.152% */
}

.section-heading--lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    color: var(--desc-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.btn {
    height: 56px;
    border-radius: 31px;
    color: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);

    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn:hover {
    background: var(--primary-bg-color);
    color: #fff;
}

/* ========== Header ========== */
.header {
    padding-top: 26px;
    position: sticky;
    top: -10px;
    background: #fff;
    z-index: 1;
}

.header__body {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header-item__link {
    color: #5e6085;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 20px;
    line-height: 1; /* 100% */
}

.header-item__link--active {
    color: var(--heading-color);
    text-shadow: 0 0 currentColor;
}

.header-item__link:hover {
    color: var(--heading-color);
    text-shadow: 0 0 currentColor;
}

.header__btn {
    margin-left: 230px;
    display: inline-block;
    width: 117px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--heading-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

/* ========== Hero ========== */
.hero {
    padding: 80px 0 150px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    width: 33.5%;
}

.hero__decor:first-of-type {
    right: -55px;
    top: 16px;
}

.hero__decor:last-of-type {
    bottom: 10px;
    left: -55px;
    z-index: -1;
}

.hero__decor {
    position: absolute;
}

.hero__img {
    width: 100%;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img--small {
    position: absolute;
    right: -163px;
    top: 300px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fff;
}

.hero__stats {
    position: absolute;
    bottom: -94px;
    left: 129px;
    width: 250px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__stats-body {
    padding: 18px 14px;
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-item__thumb:first-of-type {
    background: #fec23f;
}

.hero-item__thumb:last-of-type {
    background: #6597c2;
}

.hero-item__content {
    margin-left: 10px;
}

.hero-item__title {
    color: #181e52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-item__seperate {
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

.hero-item__stat {
    height: 4px;
    border-radius: 10px;
    background: var(--heading-color);
    opacity: 0.08;
}

.hero-item__stat:first-of-type {
    width: 118px;
    margin-top: 7px;
}

.hero-item__stat:last-of-type {
    width: 39px;
    height: 4px;
    margin-top: 6px;
}

.hero__content {
    width: 44%;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__btn {
    column-gap: 10px;
    border-radius: 31px;
    width: 189px;
    height: 60px;
    color: var(--primary-bg-color);
    transition: 0.3s;
}

.hero__btn-text {
    color: var(--primary-bg-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    transition: 0.3s;
}

.hero__btn-icon {
    background: var(--primary-bg-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.hero__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn:hover .hero__btn-text {
    color: #fff;
}

.hero__btn:hover .hero__btn-icon {
    background: #fff;
    color: var(--primary-bg-color);
}

.hero__call {
    color: var(--heading-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.hero__call:hover {
    text-decoration: underline;
}

/* ========== About ========== */
.about {
    margin-top: 50px;
    padding: 53px 0 128px;
}

.about__content {
    position: relative;
    width: 40.7%;
}

.about__row {
    display: flex;
    justify-content: space-between;
}

.about__sub-title {
    color: #5e6085;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    margin: 15px 0 24px;
}

.about__desc {
    width: 90%;
}

.about__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__checkbox {
    margin-top: 54px;
}

.about__item + .about__item {
    margin-top: 34px;
}

.about__icon {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    position: relative;
}

.about__icon::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff2e5;
    border-bottom: 2px solid #fff2e5;
    border-radius: 1px;
    rotate: -45deg;
    position: absolute;
    top: 6px;
    left: 5px;
}

.about__label {
    color: #48496a;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__media {
    position: relative;
    width: 42%;
    display: flex;
    flex-direction: column;
}

.about__images {
    margin-top: auto;
    position: relative;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    translate: 0 80px;
}

.about__img {
    position: absolute;
    bottom: 0;
}

.about__decor {
    position: absolute;
}

.about__decor:first-of-type {
    left: 0;
    top: -100px;
    z-index: 1;
}
.about__decor:nth-of-type(2) {
    top: -66px;
    right: -50px;
    z-index: -1;
}

.about__exp {
    position: absolute;
    left: -92px;
    top: -58px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__exp-content {
    padding: 31px 26px 29px;
}

.about__value {
    color: #fff;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__year {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}

/* ========== Vacation ========== */
.vacation {
    padding: 100px 0;
}

.vacation__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.vacation__media {
    width: 39%;
    position: relative;
}

.vacation__img {
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.vacation__decor {
    position: absolute;
}

.vacation__decor:nth-of-type(1) {
    top: -15px;
    right: 12px;
}

.vacation__decor:nth-of-type(2) {
    top: 11px;
    right: 61px;
}

.vacation__decor:nth-of-type(3) {
    top: 31px;
    right: -19px;
}

.vacation__decor:nth-of-type(4) {
    top: 260px;
    right: -31px;
}

.vacation__decor:nth-of-type(5) {
    right: 17px;
    bottom: 150px;
}

.vacation__decor:nth-of-type(6) {
    right: -42px;
    bottom: -54px;
}

.vacation__content {
    width: 47.6%;
}

.vacation__desc {
    width: 91.7%;
    margin-top: 24px;
}

.vacation__list {
    position: relative;
    margin-top: 52px;
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.vacation__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}

.vacation-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.vacation-item__label {
    color: #48496a;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.vacation-item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}

.vacation__desc--small {
    margin-top: 36px;
    font-size: 1.6rem;
    line-height: 1.87;
    width: 391px;
}

.vacation__action {
    margin-top: 32px;
    display: inline-block;
    color: #ff5d31;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 3px;
    border-bottom: 2px solid currentColor;
}

/* ========== Services ========== */
.services {
    margin-top: 85px;
    background: #fff6ed;
    padding: 70px 0 100px;
}
.services__sub-title {
    color: #5e6085;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

.services__row {
    margin-top: 70px;
    display: grid;
    column-gap: 85px;
    grid-template-columns: 0.717fr 1fr 0.717fr;
    justify-content: space-between;
}

.services__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services-item {
    border-radius: 10px;
    background: #fff;
}

.services-item + .services-item {
    margin-top: 24px;
}

.services-item__body {
    padding: 30px 22px 30px 28px;
}

.services-item__heading {
    position: relative;
    margin-left: 12px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.services-item__heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -12px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__desc {
    margin-top: 18px;
    color: #656689;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.services-item__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.services__images {
    position: relative;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: absolute;
    bottom: 0;
    left: -20px;
}

.services__btn {
    width: 214px;
    height: 56px;
    margin: 0 auto;
    translate: 0 50%;
}

.services__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
