* {
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #ff5b2e;
    --primary-font: "Poppins", sans-serif;
    --heading-font: "Sora", sans-serif;
    --heading-color: #000958;
    --desc-color: #656689;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ========== Common ========== */
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.section-heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.section-heading--lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.55; /* 115.152% */
}

.section-heading--lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    color: var(--desc-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.btn {
    height: 56px;
    border-radius: 31px;
    color: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);

    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    background: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn:hover {
    background: var(--primary-bg-color);
    color: #fff;
    cursor: pointer;
}

/* ========== Header ========== */
.header {
    padding-top: 26px;
    position: sticky;
    top: -10px;
    background: #fff;
    z-index: 2;
}

.header__body {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header-item__link {
    color: #5e6085;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 20px;
    line-height: 1; /* 100% */
}

.header-item__link--active {
    color: var(--heading-color);
    text-shadow: 0 0 currentColor;
}

.header-item__link:hover {
    color: var(--heading-color);
    text-shadow: 0 0 currentColor;
}

.header__btn {
    margin-left: 230px;
    display: inline-block;
    width: 117px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--heading-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

/* ========== Hero ========== */
.hero {
    padding: 80px 0 150px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    width: 33.5%;
}

.hero__decor:first-of-type {
    right: -55px;
    top: 16px;
}

.hero__decor:last-of-type {
    bottom: 10px;
    left: -55px;
    z-index: -1;
}

.hero__decor {
    position: absolute;
}

.hero__img {
    width: 100%;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img--small {
    position: absolute;
    right: -163px;
    top: 300px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fff;
}

.hero__stats {
    position: absolute;
    bottom: -94px;
    left: 129px;
    width: 250px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__stats-body {
    padding: 18px 14px;
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-item__thumb:first-of-type {
    background: #fec23f;
}

.hero-item__thumb:last-of-type {
    background: #6597c2;
}

.hero-item__content {
    margin-left: 10px;
}

.hero-item__title {
    color: #181e52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-item__seperate {
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

.hero-item__stat {
    height: 4px;
    border-radius: 10px;
    background: var(--heading-color);
    opacity: 0.08;
}

.hero-item__stat:first-of-type {
    width: 118px;
    margin-top: 7px;
}

.hero-item__stat:last-of-type {
    width: 39px;
    height: 4px;
    margin-top: 6px;
}

.hero__content {
    width: 44%;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__btn {
    column-gap: 10px;
    border-radius: 31px;
    width: 189px;
    height: 60px;
    color: var(--primary-bg-color);
    transition: 0.3s;
}

.hero__btn-text {
    color: var(--primary-bg-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    transition: 0.3s;
}

.hero__btn-icon {
    background: var(--primary-bg-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.hero__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn:hover .hero__btn-text {
    color: #fff;
}

.hero__btn:hover .hero__btn-icon {
    background: #fff;
    color: var(--primary-bg-color);
}

.hero__call {
    color: var(--heading-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.hero__call:hover {
    text-decoration: underline;
}

/* ========== About ========== */
.about {
    margin-top: 50px;
    padding: 53px 0 128px;
}

.about__content {
    position: relative;
    width: 40.7%;
}

.about__row {
    display: flex;
    justify-content: space-between;
}

.about__sub-title {
    color: #5e6085;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    margin: 15px 0 24px;
}

.about__desc {
    width: 90%;
}

.about__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__checkbox {
    margin-top: 54px;
}

.about__item + .about__item {
    margin-top: 34px;
}

.about__icon {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    position: relative;
}

.about__icon::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff2e5;
    border-bottom: 2px solid #fff2e5;
    border-radius: 1px;
    rotate: -45deg;
    position: absolute;
    top: 6px;
    left: 5px;
}

.about__label {
    color: #48496a;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__media {
    position: relative;
    width: 42%;
    display: flex;
    flex-direction: column;
}

.about__images {
    margin-top: auto;
    position: relative;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    translate: 0 80px;
}

.about__img {
    position: absolute;
    bottom: 0;
}

.about__decor {
    position: absolute;
}

.about__decor:first-of-type {
    left: 0;
    top: -100px;
    z-index: 1;
}
.about__decor:nth-of-type(2) {
    top: -66px;
    right: -50px;
    z-index: -1;
}

.about__exp {
    position: absolute;
    left: -92px;
    top: -58px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__exp-content {
    padding: 31px 26px 29px;
}

.about__value {
    color: #fff;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__year {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}

/* ========== Vacation ========== */
.vacation {
    padding: 100px 0;
}

.vacation__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.vacation__media {
    width: 39%;
    position: relative;
}

.vacation__img {
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.vacation__decor {
    position: absolute;
}

.vacation__decor:nth-of-type(1) {
    top: -15px;
    right: 12px;
}

.vacation__decor:nth-of-type(2) {
    top: 11px;
    right: 61px;
}

.vacation__decor:nth-of-type(3) {
    top: 31px;
    right: -19px;
}

.vacation__decor:nth-of-type(4) {
    top: 260px;
    right: -31px;
}

.vacation__decor:nth-of-type(5) {
    right: 17px;
    bottom: 150px;
}

.vacation__decor:nth-of-type(6) {
    right: -42px;
    bottom: -54px;
}

.vacation__content {
    width: 47.6%;
}

.vacation__desc {
    width: 91.7%;
    margin-top: 24px;
}

.vacation__list {
    position: relative;
    margin-top: 52px;
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.vacation__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}

.vacation-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.vacation-item__label {
    color: #48496a;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.vacation-item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}

.vacation__desc--small {
    margin-top: 36px;
    font-size: 1.6rem;
    line-height: 1.87;
    width: 391px;
}

.vacation__action {
    margin-top: 32px;
    display: inline-block;
    color: #ff5d31;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 3px;
    border-bottom: 2px solid currentColor;
}

/* ========== Services ========== */
.services {
    margin-top: 85px;
    background: #fff6ed;
    padding: 70px 0 100px;
}
.services__sub-title {
    color: #5e6085;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

.services__row {
    margin-top: 70px;
    display: grid;
    column-gap: 85px;
    grid-template-columns: 0.717fr 1fr 0.717fr;
    justify-content: space-between;
}

.services__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 0;
}

.services-item {
    border-radius: 10px;
    background: #fff;
}

.services-item + .services-item {
    margin-top: 24px;
}

.services-item__body {
    padding: 30px 22px 30px 28px;
}

.services-item__heading {
    position: relative;
    margin-left: 12px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.services-item__heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -12px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__desc {
    margin-top: 18px;
    color: #656689;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.services-item__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.services__images {
    position: relative;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: absolute;
    bottom: 0;
    left: -20px;
}

.services__btn {
    width: 214px;
    height: 56px;
    margin: 0 auto;
    translate: 0 50%;
}

.services__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* ========== Staff ========== */

.staff {
    padding: 130px 0;
}

.staff__body {
    display: flex;
    flex-direction: column;
}

.staff__sub-title {
    color: #5e6085;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item__images {
    position: relative;
    border-radius: 130px;
    margin: 0 16px;
}

.staff-item__images::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 90%;
    border-radius: 130px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-of-type(2) .staff-item__images::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-of-type(3) .staff-item__images::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-of-type(4) .staff-item__images::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;
    border-radius: inherit;
}

.staff-item__decor {
    position: absolute;
    left: 50%;
    width: calc(100% + 36px);
    transform: translateX(-50%);
}

.staff-item:nth-child(odd) .staff-item__decor {
    bottom: 0;
}

.staff-item:nth-child(even) .staff-item__decor {
    top: 16px;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__heading {
    margin-top: 14px;
    color: var(--heading-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__btn {
    margin: 48px auto 0;
    width: 193px;
    height: 56px;
}

/* ========== Pricing ========== */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
    margin: 0 auto;
}

.pricing__desc {
    margin-top: 24px;
    width: 709px;
}

.pricing__switch-wrapper {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__label {
    position: relative;
    display: inline-block;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.pricing__value {
    position: relative;
    color: #fff;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: 0.3s;
    z-index: 1;
}

.pricing__label::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 140px;
    border-radius: 31px;
    background: #ff5b2e;
    transition: 0.3s;
}

.pricing__value:last-child {
    color: #ff5b2e;
}

.pricing__switch:has(:checked) .pricing__label::before {
    width: 131px;
    left: 0;
    translate: 145px 0;
}
.pricing__switch:has(:checked) .pricing__value:first-child {
    color: #ff5b2e;
}

.pricing__switch:has(:checked) .pricing__value:last-child {
    color: #fff;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    margin: 55px auto 0;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
}

.pricing-item__content {
    padding: 30px 28px 43px;
}

.pricing-item__type {
    color: #ff5b2e;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing-item__btn {
    margin-top: 22px;
    width: 100%;
    height: 44px;
}

.pricing-item__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pricing-item__item {
    position: relative;
    margin-left: 26px;
    color: #656689;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__item::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    border-left: 2px solid #ff5b2e;
    border-bottom: 2px solid #ff5b2e;
    rotate: -45deg;
    position: absolute;
    top: 0;
    left: -24px;
}
.pricing-item:nth-child(1)
    .pricing-item__item:nth-child(4)
    ~ .pricing-item__item::before,
.pricing-item:nth-child(2)
    .pricing-item__item:nth-child(4)
    ~ .pricing-item__item::before {
    opacity: 0.4;
}

/* ========== Review ========= */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5b2e;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #ffd1c4;
    background: transparent;
    outline: none;
    transition: 0.3s;
}

.review__control:last-child {
    margin-left: auto;
}

.review__control:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
    cursor: pointer;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
    overflow: hidden;
}

.review-item {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    width: 274px;
    border-radius: 137px;
}

.review-item__img {
    display: block;
    border-radius: inherit;
    position: relative;
    z-index: 1;
}

.review-item__media::before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 83%;
    border-radius: inherit;
    background: #ffda54;
}

.review-item__quote {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
}

.review-item__client {
    position: relative;
    margin: 34px 0 0 28px;
    color: #282828;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem; /* 100% */
}

.review-item__client::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    left: -28px;
}

.review-item__dots {
    margin-top: 52px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: center;
}

.review-item__dot {
    color: #ff5b2e;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid currentColor;
}

.review-item__dot:hover {
    background: currentColor;
    cursor: pointer;
}

.review-item__dot--active {
    width: 24px;
    background: currentColor;
}

/* ========== Blog ========== */
.blog {
    padding: 77px 0 130px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
}

.blog__column {
    width: 350px;
    margin-right: 73px;
}

.blog__desc {
    color: #656689;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.blog__btn {
    margin-top: 24px;
    width: 182px;
    height: 56px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-item__thumb {
    margin-top: 54px;
    position: relative;
    border-radius: 24px;
    background: #90ccff;
    height: 362px;
}

.blog-item__date {
    position: absolute;
    top: 24px;
    left: 36px;
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21; /* 121.429% */
}

.blog-item__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 322px;
    height: 296px;
}

.blog-item__heading {
    margin-top: 28px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54; /* 154.545% */
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}
